# Pandas と Seaborn を使ってPythonで表を扱う
- Pandas: "Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language." https://pandas.pydata.org/docs/index.html
- Seaborn: "Seaborn is a library for making statistical graphics in Python." https://seaborn.pydata.org/tutorial/introduction

In [5]:
# pandas は pd としてインポートされることが多い
import pandas as pd

# seaborn は sns としてインポートされることが多い
import seaborn as sns

## Google colaboratory でのデータの読み込み
- 通常は、左にある「ファイル」にデータをドラッグ & ドロップする
- 今は、データをダウンロードして使用する

In [10]:
# 本日使うデータをダウンロードする
# ファイル名は cobre_142.csv
![[ -f cobre_142.csv ]] || wget https://raw.githubusercontent.com/kytk/AI-MAILs/main/cobre_142.csv

--2023-08-09 09:53:50--  https://raw.githubusercontent.com/kytk/AI-MAILs/main/cobre_142.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6345 (6.2K) [text/plain]
Saving to: ‘cobre_142.csv’

cobre_142.csv       100%[===================>]   6.20K  --.-KB/s    in 0s

2023-08-09 09:53:50 (76.6 MB/s) - ‘cobre_142.csv’ saved [6345/6345]

## Pandas の用語: 「データフレーム」
- 一般的な表をイメージすればよい
- Pandasでは、ひとつの表を「データフレーム」と呼ぶ
- dataframe から df という変数に代入されることが多い

## Pandas へのデータの読み込み
- Pandas は、csvファイルやexcelファイルを読み込むことができる
- Excelファイルはいくつか追加パッケージが必要なため、csvファイルがおすすめ
- csvファイルに日本語が入っている場合、文字コードをUTF-8にすることがおすすめ
- `pd.read_csv('csvファイル')` で読み込むことができる

In [11]:
# pd.read_csv を使用する
# 1列目はIDのようなインデックスの場合、'index_col=0' と指定する
df = pd.read_csv('/content/cobre_142.csv', index_col=0)

In [12]:
# df.head() でデータの最初の5行を確認できる
df.head()

           Age  Dx  Sex     GMV     WMV    CSF      ICV
ID
sub-40000   20   2    0  640.99  431.95  289.0  1361.94
sub-40001   27   2    1  664.49  463.15  207.6  1335.24
sub-40002   19   2    1  617.81  418.59  281.2  1317.60
sub-40003   28   2    1  874.19  573.03  293.5  1740.72
sub-40004   55   2    1  670.24  488.44  477.5  1636.18

In [16]:
df['Age'].mean()

36.90845070422535

In [ ]:
#何行何列か
df.shape

(142, 8)

In [ ]:
df['ID']

0      40000
1      40001
2      40002
3      40003
4      40004
       ...
137    40143
138    40144
139    40145
140    40146
141    40147
Name: ID, Length: 142, dtype: int64

In [ ]:
df.ID

0      40000
1      40001
2      40002
3      40003
4      40004
       ...
137    40143
138    40144
139    40145
140    40146
141    40147
Name: ID, Length: 142, dtype: int64

In [ ]:
#行を取り出したいときはloc/ilocを使うしかない
df.loc[1,:]

ID        40001.00
Age          27.00
Type          2.00
Gender        1.00
Hand          1.00
GMV         664.49
WMV         463.15
TBV        1127.60
Name: 1, dtype: float64

In [ ]:
df.iloc[0,3]

2

In [ ]:
df.loc[0,'Hand']
# ここでは行indexが新たに振り直した連続数になっている。

1

In [ ]:
# df.loc と df.iloc の違い
# df.loc はindex名を使う、ilocはindex(数字)を使う
# location-based indexer が正式名称

In [ ]:
#最初から行indexを被験者IDにしておけばいい。
df = pd.read_csv("/content/COBRE_142_info_pandas.tsv",delimiter='\t',index_col=0)
df.head()

       Age  Type  Gender  Hand     GMV     WMV     TBV
ID
40000   20     2       2     1  640.99  431.95  1072.9
40001   27     2       1     1  664.49  463.15  1127.6
40002   19     2       1     1  617.81  418.59  1036.4
40003   28     2       1     1  874.19  573.03  1447.2
40004   55     2       1     1  670.24  488.44  1158.7

In [ ]:
df.loc[40000,'GMV']

640.99

In [ ]:
#複数列の抜き出し
df.loc[40000,['GMV','WMV','TBV']]

GMV     640.99
WMV     431.95
TBV    1072.90
Name: 40000, dtype: float64

In [ ]:
# df から、GMV,Age,Gender,TBVの３つを抜き出したdf2を作成してください。
df2 = df[['GMV','Age','Gender','TBV']]
# df2 = df.loc[:,['GMV','Age','Gender,'TBV']] でも可

In [ ]:
#df2 から男だけを選びたい
male = df2['Gender']==1
# →これではBoolean(真偽値)のみ返ってくる
df2[male]
# df2_male = df2[df2.Gender==1] でもよい
## Gender がDataFrameのattributeになっている

          GMV  Age  Gender     TBV
ID
40001  664.49   27       1  1127.6
40002  617.81   19       1  1036.4
40003  874.19   28       1  1447.2
40004  670.24   55       1  1158.7
40006  574.42   53       1  1037.4
...       ...  ...     ...     ...
40143  648.10   52       1  1048.0
40144  670.65   54       1  1159.9
40145  777.67   19       1  1227.0
40146  611.73   39       1  1041.6
40147  604.48   34       1  1048.4

[108 rows x 4 columns]

In [ ]:
age_condition = ((df2['Age'] > 40) & (df2['Age'] < 50))
# リストを扱うときは and/or ではなく、 & / | を使わないとエラーになる。
## and/or はTrue/FalseとTrue/Falseをつなぐのにしか使えない。

In [ ]:
df2[age_condition]

          GMV  Age  Gender      TBV
ID
40005  493.73   48       2   824.95
40015  684.82   47       1  1235.90
40016  563.09   49       1   988.11
40018  660.19   47       1  1115.00
40019  687.82   44       1  1147.80
40023  687.81   48       1  1112.90
40024  678.31   42       1  1193.40
40026  621.06   44       1  1038.20
40027  676.53   48       1  1158.20
40030  717.05   43       1  1174.30
40031  659.91   43       2  1080.00
40044  604.46   48       1  1055.80
40049  708.35   44       1  1180.30
40060  556.86   41       1   987.06
40081  820.48   43       1  1343.20
40092  843.47   49       1  1481.20
40106  643.05   46       1  1052.50
40110  748.02   43       1  1250.80
40112  730.58   42       1  1236.90
40116  556.72   47       1   955.02
40119  585.78   44       2  1014.20
40123  671.48   48       1  1169.40
40125  685.97   48       1  1198.60
40126  624.75   41       2  1052.30
40130  643.55   47       2  1060.00
40131  639.35   47       1  1112.80
40134  665.04   42       1  1091.70

In [ ]:
df2[df2.Gender==1][df2.Age>40]
# Warning は出るものの、正しい結果が返ってくる。

<ipython-input-124-200e9e3b78d9>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[df2.Gender==1][df2.Age>40]

          GMV  Age  Gender      TBV
ID
40004  670.24   55       1  1158.70
40006  574.42   53       1  1037.40
40010  612.18   52       1  1045.20
40015  684.82   47       1  1235.90
40016  563.09   49       1   988.11
40018  660.19   47       1  1115.00
40019  687.82   44       1  1147.80
40023  687.81   48       1  1112.90
40024  678.31   42       1  1193.40
40026  621.06   44       1  1038.20
40027  676.53   48       1  1158.20
40028  629.05   64       1  1083.20
40030  717.05   43       1  1174.30
40040  583.53   63       1  1037.40
40041  550.17   62       1  1001.60
40044  604.46   48       1  1055.80
40049  708.35   44       1  1180.30
40054  698.39   52       1  1145.70
40060  556.86   41       1   987.06
40066  657.94   62       1  1099.70
40069  615.95   58       1  1081.60
40076  587.30   52       1  1010.70
40078  636.09   57       1  1191.00
40081  820.48   43       1  1343.20
40082  669.84   50       1  1202.20
40084  677.76   60       1  1266.00
40086  635.15   65       1  1167.40
40089  536.71   62       1   910.03
40092  843.47   49       1  1481.20
40094  611.29   57       1  1143.10
40101  658.97   50       1  1161.50
40105  569.98   52       1  1045.50
40106  643.05   46       1  1052.50
40110  748.02   43       1  1250.80
40112  730.58   42       1  1236.90
40116  556.72   47       1   955.02
40123  671.48   48       1  1169.40
40125  685.97   48       1  1198.60
40131  639.35   47       1  1112.80
40132  564.27   50       1  1010.10
40134  665.04   42       1  1091.70
40143  648.10   52       1  1048.00
40144  670.65   54       1  1159.90

In [ ]:
df0=pd.read_csv('/content/COBRE_142_info_pandas_2.tsv',delimiter='\t',index_col=0)

In [ ]:
df0.head()

         Age  Type  Gender  Hand     GMV     WMV     TBV
ID
ID40000   20     2       2     1  640.99  431.95  1072.9
ID40001   27     2       1     1  664.49  463.15  1127.6
ID40002   19     2       1     1  617.81  418.59  1036.4
ID40003   28     2       1     1  874.19  573.03  1447.2
ID40004   55     2       1     1  670.24  488.44  1158.7

In [ ]:
import numpy as np
np.array(df0)

array([[2.0000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 6.4099e+02,
        4.3195e+02, 1.0729e+03],
       [2.7000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.6449e+02,
        4.6315e+02, 1.1276e+03],
       [1.9000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.1781e+02,
        4.1859e+02, 1.0364e+03],
       [2.8000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 8.7419e+02,
        5.7303e+02, 1.4472e+03],
       [5.5000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.7024e+02,
        4.8844e+02, 1.1587e+03],
       [4.8000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 4.9373e+02,
        3.3122e+02, 8.2495e+02],
       [5.3000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.7442e+02,
        4.6295e+02, 1.0374e+03],
       [6.5000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 4.4260e+02,
        3.5228e+02, 7.9488e+02],
       [2.8000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.9609e+02,
        5.0265e+02, 1.2987e+03],
       [3.1000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 6.5641e+02,
        4.2112e+02, 1.0775e+03],
       [5.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.1218e+02,
        4.3300e+02, 1.0452e+03],
       [2.8000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 5.6048e+02,
        3.8363e+02, 9.4411e+02],
       [3.2000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 6.4758e+02,
        4.4548e+02, 1.0931e+03],
       [3.4000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.7787e+02,
        4.5214e+02, 1.1300e+03],
       [3.1000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.1217e+02,
        3.9865e+02, 1.0108e+03],
       [4.7000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.8482e+02,
        5.5108e+02, 1.2359e+03],
       [4.9000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 5.6309e+02,
        4.2502e+02, 9.8811e+02],
       [3.0000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.8290e+02,
        4.2772e+02, 1.1106e+03],
       [4.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.6019e+02,
        4.5481e+02, 1.1150e+03],
       [4.4000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.8782e+02,
        4.5996e+02, 1.1478e+03],
       [2.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 8.3506e+02,
        5.1734e+02, 1.3524e+03],
       [2.1000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 7.1611e+02,
        5.0351e+02, 1.2196e+03],
       [2.3000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 7.5197e+02,
        4.6031e+02, 1.2123e+03],
       [4.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.8781e+02,
        4.2505e+02, 1.1129e+03],
       [4.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.7831e+02,
        5.1506e+02, 1.1934e+03],
       [3.3000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.6262e+02,
        5.0774e+02, 1.1704e+03],
       [4.4000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.2106e+02,
        4.1712e+02, 1.0382e+03],
       [4.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.7653e+02,
        4.8170e+02, 1.1582e+03],
       [6.4000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.2905e+02,
        4.5415e+02, 1.0832e+03],
       [2.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 8.7123e+02,
        5.5742e+02, 1.4287e+03],
       [4.3000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.1705e+02,
        4.5726e+02, 1.1743e+03],
       [4.3000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.5991e+02,
        4.2009e+02, 1.0800e+03],
       [3.1000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 5.9756e+02,
        3.8320e+02, 9.8075e+02],
       [3.1000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.0339e+02,
        3.4558e+02, 9.4897e+02],
       [2.9000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 6.3360e+02,
        4.5580e+02, 1.0894e+03],
       [3.0000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.6872e+02,
        5.2089e+02, 1.1896e+03],
       [2.6000e+01, 1.0000e+00, 1.0000e+00, 2.0000e+00, 7.9416e+02,
        5.8390e+02, 1.3781e+03],
       [2.4000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 8.3232e+02,
        3.0458e+02, 1.1369e+03],
       [5.3000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.5961e+02,
        4.8000e+02, 1.1396e+03],
       [5.1000e+01, 2.0000e+00, 2.0000e+00, 2.0000e+00, 5.1226e+02,
        3.9305e+02, 9.0531e+02],
       [6.3000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.8353e+02,
        4.5384e+02, 1.0374e+03],
       [6.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.5017e+02,
        4.5143e+02, 1.0016e+03],
       [3.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.7448e+02,
        4.4960e+02, 1.1241e+03],
       [4.8000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 6.0446e+02,
        4.5129e+02, 1.0558e+03],
       [3.0000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.9201e+02,
        5.2037e+02, 1.3124e+03],
       [1.8000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 7.4198e+02,
        3.5910e+02, 1.1011e+03],
       [3.7000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.6520e+02,
        4.3332e+02, 1.0985e+03],
       [3.1000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.6647e+02,
        5.8958e+02, 1.3560e+03],
       [4.4000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.0835e+02,
        4.7196e+02, 1.1803e+03],
       [3.6000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.1785e+02,
        5.0054e+02, 1.2184e+03],
       [2.3000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 8.0319e+02,
        5.0329e+02, 1.3065e+03],
       [2.2000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.9923e+02,
        3.9779e+02, 1.0970e+03],
       [2.4000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.9804e+02,
        4.2964e+02, 1.1277e+03],
       [5.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.9839e+02,
        4.4736e+02, 1.1457e+03],
       [3.0000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.0555e+02,
        4.0201e+02, 1.0076e+03],
       [2.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.3445e+02,
        4.9579e+02, 1.2302e+03],
       [3.6000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.4622e+02,
        5.1102e+02, 1.1572e+03],
       [2.7000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.6218e+02,
        4.2516e+02, 1.0873e+03],
       [2.5000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.9953e+02,
        4.3739e+02, 1.1369e+03],
       [4.1000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.5686e+02,
        4.3021e+02, 9.8706e+02],
       [1.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.0106e+02,
        4.4119e+02, 1.1423e+03],
       [3.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.9297e+02,
        5.5565e+02, 1.3486e+03],
       [5.6000e+01, 2.0000e+00, 2.0000e+00, 2.0000e+00, 5.2378e+02,
        4.1098e+02, 9.3476e+02],
       [2.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.9696e+02,
        4.9548e+02, 1.2924e+03],
       [6.2000e+01, 1.0000e+00, 1.0000e+00, 2.0000e+00, 6.5794e+02,
        4.4176e+02, 1.0997e+03],
       [3.3000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.9622e+02,
        4.6549e+02, 1.1617e+03],
       [2.4000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 7.0337e+02,
        3.9420e+02, 1.0976e+03],
       [5.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.1595e+02,
        4.6560e+02, 1.0816e+03],
       [5.1000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 6.0103e+02,
        3.9499e+02, 9.9602e+02],
       [2.5000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.2802e+02,
        4.0269e+02, 1.1307e+03],
       [2.3000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.8180e+02,
        4.9393e+02, 1.1757e+03],
       [4.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.0344e+02,
        4.3756e+02, 1.1410e+03],
       [5.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 5.8730e+02,
        4.2341e+02, 1.0107e+03],
       [2.8000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.6246e+02,
        4.7703e+02, 1.1395e+03],
       [5.7000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.3609e+02,
        5.5491e+02, 1.1910e+03],
       [2.6000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.9263e+02,
        6.2483e+02, 1.4175e+03],
       [2.6000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.6461e+02,
        4.6773e+02, 1.2323e+03],
       [4.3000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 8.2048e+02,
        5.2271e+02, 1.3432e+03],
       [5.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.6984e+02,
        5.3240e+02, 1.2022e+03],
       [6.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.7776e+02,
        5.8825e+02, 1.2660e+03],
       [2.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.0503e+02,
        4.8783e+02, 1.1929e+03],
       [6.5000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.3515e+02,
        5.3224e+02, 1.1674e+03],
       [2.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.9193e+02,
        5.5466e+02, 1.3466e+03],
       [3.3000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 5.4571e+02,
        4.1421e+02, 9.5992e+02],
       [6.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.3671e+02,
        3.7332e+02, 9.1003e+02],
       [1.8000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.4928e+02,
        3.5363e+02, 1.0029e+03],
       [2.4000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.0752e+02,
        4.7462e+02, 1.1821e+03],
       [4.9000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 8.4347e+02,
        6.3776e+02, 1.4812e+03],
       [2.5000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.9961e+02,
        5.0129e+02, 1.3009e+03],
       [5.7000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 6.1129e+02,
        5.3183e+02, 1.1431e+03],
       [4.0000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.3077e+02,
        4.4158e+02, 1.0724e+03],
       [2.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.6477e+02,
        4.8811e+02, 1.2529e+03],
       [5.2000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 5.9156e+02,
        4.4722e+02, 1.0388e+03],
       [3.5000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.5691e+02,
        5.2471e+02, 1.1816e+03],
       [3.8000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.0470e+02,
        4.9196e+02, 1.1967e+03],
       [3.5000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.6636e+02,
        5.3241e+02, 1.1988e+03],
       [5.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.5897e+02,
        5.0254e+02, 1.1615e+03],
       [4.0000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.3910e+02,
        4.1903e+02, 1.0581e+03],
       [4.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.5870e+02,
        5.8434e+02, 1.3430e+03],
       [2.6000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 9.5271e+02,
        6.2020e+02, 1.5729e+03],
       [5.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.6998e+02,
        4.7548e+02, 1.0455e+03],
       [4.6000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.4305e+02,
        4.0947e+02, 1.0525e+03],
       [3.3000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.1020e+02,
        3.4553e+02, 9.5573e+02],
       [2.9000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.2878e+02,
        4.9341e+02, 1.2222e+03],
       [3.3000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.4285e+02,
        5.6111e+02, 1.3040e+03],
       [4.3000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 7.4802e+02,
        5.0274e+02, 1.2508e+03],
       [5.8000e+01, 1.0000e+00, 2.0000e+00, 2.0000e+00, 5.4241e+02,
        4.2296e+02, 9.6537e+02],
       [4.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.3058e+02,
        5.0631e+02, 1.2369e+03],
       [2.0000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.9513e+02,
        4.1489e+02, 1.1100e+03],
       [2.3000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.5052e+02,
        4.7724e+02, 1.2278e+03],
       [2.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.7877e+02,
        4.9784e+02, 1.2766e+03],
       [4.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 5.5672e+02,
        3.9829e+02, 9.5502e+02],
       [1.9000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.9025e+02,
        5.3833e+02, 1.3286e+03],
       [4.4000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 5.8578e+02,
        4.2841e+02, 1.0142e+03],
       [2.6000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.8901e+02,
        6.0698e+02, 1.3960e+03],
       [2.1000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.8887e+02,
        4.5795e+02, 1.1468e+03],
       [2.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.8952e+02,
        5.1082e+02, 1.2003e+03],
       [4.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.7148e+02,
        4.9790e+02, 1.1694e+03],
       [3.5000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 5.6421e+02,
        4.4790e+02, 1.0121e+03],
       [4.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.8597e+02,
        5.1258e+02, 1.1986e+03],
       [4.1000e+01, 2.0000e+00, 2.0000e+00, 1.0000e+00, 6.2475e+02,
        4.2757e+02, 1.0523e+03],
       [2.6000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.1662e+02,
        3.8313e+02, 1.0997e+03],
       [2.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.3716e+02,
        4.1870e+02, 1.1559e+03],
       [2.3000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 8.0542e+02,
        5.0670e+02, 1.3121e+03],
       [4.7000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.4355e+02,
        4.1648e+02, 1.0600e+03],
       [4.7000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.3935e+02,
        4.7349e+02, 1.1128e+03],
       [5.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 5.6427e+02,
        4.4582e+02, 1.0101e+03],
       [2.0000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.4700e+02,
        4.7727e+02, 1.2243e+03],
       [4.2000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.6504e+02,
        4.2670e+02, 1.0917e+03],
       [2.4000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.8431e+02,
        3.9141e+02, 1.0757e+03],
       [3.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 7.0249e+02,
        5.6321e+02, 1.2657e+03],
       [2.1000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 8.0441e+02,
        5.3866e+02, 1.3431e+03],
       [2.8000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 8.1183e+02,
        5.5781e+02, 1.3696e+03],
       [2.8000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.9021e+02,
        5.3541e+02, 1.2256e+03],
       [5.3000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.3072e+02,
        4.6052e+02, 1.0912e+03],
       [3.5000e+01, 1.0000e+00, 2.0000e+00, 1.0000e+00, 6.3349e+02,
        3.9976e+02, 1.0332e+03],
       [2.3000e+01, 2.0000e+00, 1.0000e+00, 2.0000e+00, 6.8595e+02,
        4.6890e+02, 1.1548e+03],
       [5.2000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 6.4810e+02,
        3.9988e+02, 1.0480e+03],
       [5.4000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.7065e+02,
        4.8929e+02, 1.1599e+03],
       [1.9000e+01, 2.0000e+00, 1.0000e+00, 1.0000e+00, 7.7767e+02,
        4.4932e+02, 1.2270e+03],
       [3.9000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.1173e+02,
        4.2990e+02, 1.0416e+03],
       [3.4000e+01, 1.0000e+00, 1.0000e+00, 1.0000e+00, 6.0448e+02,
        4.4392e+02, 1.0484e+03]])

In [ ]:
ds0 = np.array(df0)

In [ ]:
df0.drop(['Hand'],axis=1)

         Age  Type  Gender     GMV     WMV     TBV
ID
ID40000   20     2       2  640.99  431.95  1072.9
ID40001   27     2       1  664.49  463.15  1127.6
ID40002   19     2       1  617.81  418.59  1036.4
ID40003   28     2       1  874.19  573.03  1447.2
ID40004   55     2       1  670.24  488.44  1158.7
...      ...   ...     ...     ...     ...     ...
ID40143   52     2       1  648.10  399.88  1048.0
ID40144   54     1       1  670.65  489.29  1159.9
ID40145   19     2       1  777.67  449.32  1227.0
ID40146   39     1       1  611.73  429.90  1041.6
ID40147   34     1       1  604.48  443.92  1048.4

[142 rows x 6 columns]

In [ ]:
df10=df['Age']

In [ ]:
df11=df['GMV']

In [ ]:
df12=pd.concat([df10,df11],axis=1)

In [ ]:
df12.head()

       Age     GMV
ID
40000   20  640.99
40001   27  664.49
40002   19  617.81
40003   28  874.19
40004   55  670.24

In [ ]:
# groupby メソッドで、グループ毎の統計量を簡単に見られる。
df0.groupby(by='Gender').describe()['TBV']

,count,mean,std,min,25%,50%,75%,max
Gender,,,,,,,,
1,108.0,1181.007685,124.201079,910.03,1099.7000,1168.40,1251.325,1572.9
2,34.0,1039.657647,94.346283,794.88,984.5675,1059.05,1092.625,1225.6

In [ ]:
df0.groupby(by=['Gender','Type']).mean()['TBV']

Gender  Type
1       1       1191.220400
        2       1172.203621
2       1       1066.550952
        2        996.214615
Name: TBV, dtype: float64

In [ ]:
df0.groupby(by=['Gender','Type']).size()

Gender  Type
1       1       50
        2       58
2       1       21
        2       13
dtype: int64